// @import 'node_modules/font-awesome/css/font-awesome.css';

@import 'layouts/main';

@import 'components/welcome';
@import 'components/sidebar';
@import 'components/status';
@import 'components/card';
@import 'components/modal';
@import 'components/routes';
@import 'components/error';
@import 'components/lookup';
@import 'components/pagination';
@import 'components/communities';

