
bin/alice-lg-*

*.pyc
__pycache__

.cache

*.swp
*.swo

*.sqlite*

*.local.*

venv/

django_backend/birdseye/static

node_modules/
ui/node_modules/

builds/

RPMS/
BUILD-RPM/
DIST/


var/


.DS_Store

*coverage*

dist/
