
bin/alice-lg-*

*.pyc
__pycache__

.cache

*.swp
*.swo

*.sqlite*

*.local.*

venv/

django_backend/birdseye/static

node_modules/

builds/

RPMS/
BUILD-RPM/
DIST/


var/

etc/alice-lg/alice.conf

.DS_Store

*coverage*
