
.col-neighbor-attr {
    white-space: nowrap;
    a, a:link, a:active {
        color: #333;
    }

    i.fa {
        color: #333;
    }
}

.col-neighbor-active {
    font-weight: bold;
    color: #2e6da4;
}



