[Unit]
Description=Alice Looking Glass
Wants=network.target
After=network.target

[Service]
Type=simple
User=alice-lg
ExecStart=/opt/alice-lg/alice-lg/bin/alice-lg-linux-amd64

[Install]
WantedBy=multi-user.target
